/* Common */
body{
    margin: 0 auto;
}
.margin{
    margin: 20px 100px 20px 100px;
}
.common-button{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 0;
    font-weight: bolder;
    color: white;
}
main{
    background-color: #fcfafb;
}
.play-like-goat, .we-are-gamer, .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav */
.title{
    color: hotpink;
}
.site-title{
    font-weight: bolder;
    margin-left: 20px;
    font-size: 2em;
}
.left-nav{
    display: flex;
    align-items: center;
}
.left-nav img{
    height: 30px;
    width: 50px;
}
.right-nav{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    margin-left: 20px;
    font-weight: bold;
}
.youtube-icon{
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-btn{
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}
/* Play Like The G.O.A.T */
.goat-title, .gamer-title{
    font-size: 60px;
    height: 100%;
    margin: 0;
    font-weight: bolder;
    background-image: linear-gradient(180deg, #F948B2 50%, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
}
.goat-list{
    margin-top: 25px;
}
.goat-list li{
    margin-top: 10px;
}
.goat-btn{
    margin-top: 25px;
}
.goat-img img{
   width: 75%;
   float: right;
}
/* We are gamer */
.gamer-text{
    width: 40%;
}
 .gamer-img{
    width: 50%;
}
.gamer-img img{
    width: 100%;
}
.gamer-text{
    text-align: end;
}
.gamer-description, .goat-list li{
    font-size: 18px;
    color: #534C64;
}
.gamer-purpose{
    font-size: 24px;
    color: #534C64;
}
.gamer-quote{
    font-size: 32px;
    color: #534C64;
    font-weight: bold;
}
/* Online Games Funny Video */
.online-games-funny-video{
    text-align: center;
    margin-top: 100px;
}
.online-games-card{
    display: flex;
    gap: 20px;
}
.online-games-card img{
    width: 100%;
    height: 100%;
}
.games-card:hover{
    position: relative;
    border: 3px solid red;
    border-radius: 15px;
    filter: brightness(50%);
}
.watch-now{
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
}
/* Play Instantly */
.play-instantly{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
    margin-top: 100px;
}
.play-instantly-info{
    width: 25%;
}
.play-instantly-title{
    font-weight: bolder;
}
.play-instantly-description{
    color: #534C64;
}
.play-instantly-img{
    position: relative;
}
.play-instantly-img img{
    width: 100%;
}
.relative-img{
    position: absolute;
    left: -100px;
    bottom: -100px;
}
.relative-img img{
    height: 300px;
    width: 300px;
}
/* Responsive On Screen */
@media only screen and (max-width: 576px) {
    .margin{
        margin: 0;
    }
    .nav{
        flex-direction: column;
    }
    .right-nav{
        flex-direction: column;
    }
    li{
        margin: 20px 0px 20px 0px;
    }
    .play-like-goat{
        flex-direction: column-reverse;
        align-items: center;
    }
    .we-are-gamer{
        flex-direction: column;
        align-items: center;
    }
    .gamer-text{
        text-align: center;
    }
    .gamer-text, .gamer-img{
        width: 100%;
    }
    .online-games-card{
        flex-direction: column;
    }
}
@media only screen and (max-width: 991px) {
    .margin{
        margin: 0;
    }
    .nav{
        flex-direction: column;
        margin: 0;
    }
    .gamer-text, .gamer-img{
        width: 50%;
    }
    .online-games-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}