/* Common */
.margin{
    margin: 20px 100px 20px 100px;
}
.common-button{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 0;
    font-weight: bolder;
    color: white;
}
/* Nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: hotpink;
}
.site-title{
    font-weight: bolder;
    margin-left: 20px;
    font-size: 2em;
}
.left-nav{
    display: flex;
    align-items: center;
}
.left-nav img{
    height: 30px;
    width: 50px;
}
.right-nav{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    margin-left: 20px;
    font-weight: bold;
}
.youtube-icon{
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-btn{
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}
/* Play Like The G.O.A.T */
.play-like-goat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goat-title{
    font-size: 60px;
    height: 60px;
    margin: 0;
    font-weight: bolder;
    background-image: linear-gradient(180deg, #F948B2 50%, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
}
.goat-list{
    margin-top: 25px;
}
.goat-list li{
    margin-top: 10px;
}
.goat-btn{
    margin-top: 25px;
}
.goat-img img{
   width: 75%;
   float: right;
}
/* Responsive On Screen */
@media only screen and (max-width: 576px) {
    .margin{
        margin: 0;
    }
    .nav{
        flex-direction: column;
    }
    .right-nav{
        flex-direction: column;
    }
    li{
        margin: 20px 0px 20px 0px;
    }
}
@media only screen and (max-width: 991px) {
    .margin{
        margin: 0;
    }
    .nav{
        flex-direction: column;
        margin: 0;
    }
}